body {
    box-sizing:content-box;
    margin: 0%;
    background-color: rgb(172, 172, 172);
      height: 300vh;
    width: 100vw;
    overflow-x: hidden;
    
  }
  
  main {
    display: grid;

  }

 
 
 @media (min-width: 1024px) {
     #monsterPreviewMain {
         grid-template-columns: 50vw 50vw; 
         grid-template-rows: auto; 
     }
   }
  
  
  #monsterPreviewMain {
    display: grid;
    justify-self: center;
    margin-top: 10px;
    grid-template-columns: [col1]80vw [col2]20vw;
    grid-template-rows: 
    [row1]1fr
    [row2]1fr
    [row3]1fr;
    background-color: #BEEEEB;
    border-radius: 15px;
    height: 70dvh;
    width: 95%;
    align-items: center;
    
    .monsterNameMain {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 20px;
        text-align: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7A072, rgba(255, 255, 255, 0));
      
       
      }
      
      #monsterImageMain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 15px;
        height: 97%;
        width: 100%;
        background-color: #E4FCFA;
        margin-left: 5px;
        grid-column-start: col1;
        grid-row-start: row1;
        grid-row-end: row4;
        border: 2px solid #72727283;
        
        
        .monsterTypeIcon, .monsterDietIcon, .monsterSizeIcon {
          margin-left: 15px;
          margin-top: 15px;
         transform: scale(1.5);
         height: 32px;
         width: 32px;
         
        }
        
    }
    .monsterImage {
      display: grid;
      border-radius: 15px;
      height: 80%;
      width: 70vw;
      background-color: #ffffff6c;
      background-image: url(/public/images/monsters/1x/theEye.png);
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 18px;
      margin-top: 18px;
      
    }

    
    
    #colorsMain {
      display: flex;
      flex-direction: column-reverse;
      justify-self: center;
      align-self: end;
      grid-column-start: col2;
      grid-row-start: row3;
      width: 20%;
      gap: 10px;
      margin-right: 35px;
      margin-bottom: 10px;
    
      .colorBox {
        height: 35px;
        width: 35px;
        
      }
  
      .A {
        background-color: #FF9B42;
        border: 2px solid #727272;
        border-radius: 50%;
      }
      .B {
        background-color: #74C4C4;
        border: 2px solid #727272;
        border-radius: 50%;
      }
      .C {
        background-color: #EDDEA4;
        border: 2px solid #727272;
        border-radius: 50%;
      }
      .D {
        background-color: #D9E5D6;
        border: 2px solid #727272;
        border-radius: 50%;
      }
      .E {
        background-color: #F7A072;
        border: 2px solid #727272;
        border-radius: 50%;
      }
      .F {
        background-color: #0FA3B1;
        border: 2px solid #727272;
        border-radius: 50%;
      }
    }
  }
  
  #monsterSettings {
    display: flex;
    flex-wrap: wrap;
    background-color: #BEEEEB;
    margin-top: 10px;
    border-radius: 15px;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    text-align: center;
  }

  #monsterTypeSelect, #monsterDietSelect, #monsterSizeSelect {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
  }

  #done-button {
    margin-top: 10px;
    display: flex;
    justify-self: end;
  }



  #monsterGallery {
     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
      justify-items: center;
      padding: 10px;
      margin-top: 10px;
      @media (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
      }
  }

  .monsterCard {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border: solid 1px #e0e0e0;
    padding: 10px;
    width: 70%;
     min-height: 150px;
    align-self: center;
    font-size: 1.5em;
    border-radius: 8%;
    background-color: #BEEEEB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 
              0 1px 3px rgba(0, 0, 0, 0.5); 
  }

  .monsterName {

   text-align: center;
    

  }

  .monsterType {
    @media screen and (max-width: 600px) {
      display: none;
    }
    
  
  }

  .monsterHorns {
    @media screen and (max-width: 600px) {
      display: none;
    }
   
  }

  .monsterLegs {
    @media screen and (max-width: 600px) {
      display: none;
    }

    
  
  }

  .monsterEyes {
    @media screen and (max-width: 600px) {
      display: none;
    }
  
  }


  .monsterTentacles {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

