* {
  box-sizing:border-box;


}


body {
  
  margin: 0%;
  background-color: rgb(172, 172, 172);
  overflow-x: hidden;
}

main {
  display: grid;
  gap: 0px 10px;
  margin: 10px 10px;
  gap: 10px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "monster-preview-main"
    "monster-settings"
    "monster-filter"
    "monster-gallery-container";
}

@media (min-width: 600px) {
  main {
    display: grid;
    flex-wrap: wrap;
    margin: 10px 15%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px 10px;
    
    grid-template-areas:
      "monster-preview-main monster-filter monster-filter"
      "monster-preview-main monster-gallery-container monster-gallery-container "
      "monster-settings  monster-gallery-container monster-gallery-container"
      "monster-settings  monster-gallery-container monster-gallery-container"
      ;
  }
}

.monster-preview-main {
  display: grid;
  grid-area: monster-preview-main;
  justify-self: star;
  background-color: #beeeeb;
  border-radius: 15px;
  width: 100%;
  height: 55dvh;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

 
  .monster-name-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #f7a072,
      rgba(255, 255, 255, 0)
    );
  
  }
  
  .monster-type-icon {
    align-self: flex-end;
  }

  .monster-image-main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    background-color: #e4fcfa;
    border: 2px solid #72727283;
  }

  .monster-image {
    border-radius: 15px;
    height: 100%;
    width: 90%;
    background-color: #ffffff6c;
    background-image: url(/public/images/monsters/1x/theEye.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  
}

#colors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  
  }

  .color-box {
    height: 25px;
    width: 25px;
    border: 2px solid #727272;
    border-radius: 50%;
    padding: 0; 
    background-color: transparent; 
    cursor: pointer; 
    outline: none; 
    transition: transform 0.3s; 
    
  }

  .color-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;


  }

  .show-color-selection {
    margin-top: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0; 
    background-color: transparent; 
    cursor: pointer; 
    outline: none; 
    transition: transform 0.3s; 

  }

  .color-box:hover, 
  .color-box:focus {
    transform: scale(1.3);
  }

.monster-settings {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #beeeeb;
  border-radius: 15px;
  width: 100%;
  margin: 0px 10px;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

}

#monster-dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#monster-name {
  width: 95%;
  height: 25px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  text-indent: 5px;

}

.monster-type-select,
.monster-diet-select,
.monster-size-select {
  display: flex;
  flex-wrap: wrap;
  text-indent: 5px;
  width: 100px;
  margin-top: 10px;
  border-radius: 20px;
  margin-right: 5px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

}

#done-button {
  width: 95%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  

}

#done-button:hover {
  cursor: pointer;
  background-color: rgba(105, 105, 105, 0.397);
}

#slider-container {
  display: flex;
  width: 350px;

  #sliders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: row;
  }
}


.slider:hover {
  cursor: pointer;
}
.monster-filter {
  grid-area: monster-filter;
  display: flex;
 flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
 width: 100%;
  margin: 0px 10px;
  padding: 15px 0px;
  align-items: center;
  justify-self: center;
  text-align: center;
  background-color: #beeeeb;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
 

}
@media (min-width: 600px) {
  .monster-filter {
    margin: 0px;

  }
}

.filter-p {
  font-size: 1.1rem;
  font-family: Verdana;
  margin: 0%;
}

.color-filters {
  margin-bottom: 20px;
  margin-top: 5px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.384);
  
}
.color-filter-boxes {
  margin: 0px 10px;
}

.monster-diet-filter-container{
  margin-bottom: 20px;
  margin-top: 5px;
}

.monster-diet-select-filter {
  display: flex;
  flex-wrap: wrap;
  text-indent: 5px;
  width: 120px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

}

  .diet-counter-container {
    display: flex;
    flex-direction: row;
    transform: scale(1.3);
    gap: 50px;
  }

#clear-filter-button {
  width: 95px;
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

}

#clear-filter-button:hover {
  cursor: pointer;
  background-color: rgba(105, 105, 105, 0.397);
}

.monster-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  width: 48%;
  font-size: 1em;
  border-radius: 20px;
  background-color: #e4fcfa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  
  
}

@media (min-width: 600px) {
  .monster-card {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    width: 20cap;    
    height: 256px;  
    padding: 10px;

    
  }
  .monster-card:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: #ffffff;
  }
  
}

.monster-info {
  width: 100%;
  
 
}

@media (min-width: 600px) {
  .monster-info {
    width: 100%;
    overflow: scroll;
    overflow: hidden;
   
  }
  .monster-info:focus {
    overflow-y: scroll;
    
  } 
}


.monster-info-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.delete-button {
  border: none;
  border-radius: 20px;
  background-color: white;
  width: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  align-self: flex-end;

}
.delete-button:hover {
  cursor: pointer;
  background-color: #beeeeb;
}

.edit-button {
  border: none;
  border-radius: 20px;
  background-color: white;
  width: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  
}
.edit-button:hover {
  cursor: pointer;
  background-color: #beeeeb;
}



.monster-name,
.monster-diet,
.monster-color,
.editable-value {
  color: black;
}

.monster-name {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .monster-diet,
  .monster-color,
  .editable-value {
    display: none;
  }
}

#monster-gallery-container {
  grid-area: monster-gallery-container;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px 0;
  background-color: #beeeeb;
  border-radius: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  
}

@media (min-width: 600px) {
  #monster-gallery-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 5px;
    gap: 10px;
    overflow: hidden;
    max-height: 100vh;
  }
}

@media (min-width: 1024px) {
  #monster-gallery-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5px;
    gap: 10px;
    overflow: hidden;
    


    }
    #monster-gallery-container:hover {
      overflow-y: scroll;
    }
  }

